  <h3>My Favorite Orgs</h3>
  <ul>
    {{#each content as |o|}}
      {{github-org org=o add-favorite="addFavorite"}}
    {{else}}
    <li>Sorry, no orgs found!</li>
    {{/each}}
  </ul>

  {{#each items as |item|}}
    {{item.id}}
  {{/each}}

  {{log items}}

{{outlet}}
