  <h3>Orgs</h3>
  <ul>
    <li>{{link-to 'Facebook' 'org.facebook.repos'}}</li>
    <li>{{link-to 'Netflix' 'org.netflix'}}</li>
    <li>{{link-to 'Yahoo' 'org.yahoo'}}</li>
    <li>{{link-to 'EmberJs' 'org.emberjs'}}</li>
  </ul>

{{outlet}}
