  <h3>My Favorite Orgs</h3>
  <ul>
    {{#each content as |org|}}
    <li><span {{action 'addFavorite' org.id}}>[Add Favorite] </span>{{link-to org.id 'org' org.id}}</li>
    {{else}}
    <li>Sorry, no orgs found!</li>
    {{/each}}
  </ul>

  {{#each items as |item|}}
    {{item.id}}
  {{/each}}

  {{log items}}

{{outlet}}
